@using ZyLob.Ali1688.Op.Authorization
@using ZyLob.Ali1688.Op.Context
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="@AliContext.Static.Auth.GetAuthorizeUri()">一键授权</a>
    </div>
</body>
</html>
